# Python
*.pyc
__pycache__/

# Entorno virtual
venv/
django_env/

# Bases de datos
db.sqlite3

# Archivos de migraciones de Django
*/migrations/*
*/migrations/__pycache__/

# Archivos de configuración sensibles
.env

# Archivos estáticos
staticfiles/
media/

# Configuración de IDEs
.vscode/
.idea/