<div style="font-family: Arial, sans-serif; margin-top: 20px; border-top: 1px solid #ccc; padding-top: 10px;">
    <p style="font-size: 1.2em; font-weight: bold;">Sistemas</p>
    <p style="margin: 0; line-height: 1.5;">
        T: +(5411) 4858-4700/4747<br>
        Julián Álvarez 761<br>
        CP 1414. Cap. Fed. Argentina<br>
        <a href="https://www.47street.com.ar" target="_blank">www.47street.com.ar</a><br>
        <a href="https://facebook.com/47club" target="_blank">facebook.com/47club</a><br>
        <a href="https://twitter.com/47st" target="_blank">twitter/47st</a>
    </p>
</div>
