<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .header {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            text-align: center;
        }
        .content {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>{{ ticket.get_estado_display }}</h1>
    </div>
    <div class="content">
        <p>Hola,</p>
        <p>Tu ticket con ID <strong>{{ ticket.id }}</strong> se ha empezado a ver por {{ ticket.responsable }}</p>
        <p>Asunto: {{ ticket.asunto }}</p>
        <p>Descripción: {{ ticket.descripcion }}</p>
        <p>Gracias por contactarnos.</p>

        {% include "emails/firma.html" %}
    </div>
</body>
</html>