{% load static %}
<script src="{% static 'js/confirm_delete.js' %}"></script><!-- Modal de Confirmación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>Para eliminar este elemento, escribe "<strong>Eliminar</strong>" y presiona confirmar.</p>
                <input type="text" id="confirmInput" class="form-control" placeholder="Escribe 'Eliminar' aquí">
                <div class="invalid-feedback">Debe escribir "Eliminar" exactamente.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton" disabled>Confirmar</button>
            </div>
        </div>
    </div>
</div>