{% extends "base.html" %}  

{% block title %}Lista de Grupos{% endblock %} 

{% block content %}  
    <h1>Lista de Grupos</h1>
    
    <table class="table table-striped table-hover table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuarios</th>
            </tr>
        </thead>
        <tbody>
            {% for grupo in grupos %}
            <tr onclick= "window.location.href='{% url 'editar_grupo' grupo.id %}';" style="cursor: pointer;">
                    <td>{{ grupo.nombre }}</td>
                    <td>
                        {% for usuario in grupo.usuarios.all %}
                            {{ usuario.username }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'nuevo_grupo' %}" class="btn btn-dark ml-3 mb-3">Crear Nuevo Grupo</a>
    </div>
{% endblock %}
